<%- include('partials/_header') -%>
<body class="error-body">


<div class="errorpage-div">
    <p class="error-status">404</p>
    <h1 class="error-header">Page Not Found.</h1>
</div>
    
</body>
</html>